.link {
    color: #FFF;
  }
.link:hover {
   color: rgb(173, 173, 184)
}

.col {
   margin-bottom: 20px; 
}

.row {
   margin-bottom: 20px; 
}


.custom-btn {
   background-color: "primary" !important;
   border-color: black !important;
   color: white;
}

.row-no-margin{
   margin-bottom: 0px !important; 
}

.row-little-margin{
   margin-bottom: 4px !important; 
}

.col-no-margin{
   margin-bottom: 0px !important;

}

.table-no-margin{
   margin-bottom: 0px !important;
}



