// change the theme
$primary: #84C69B;
$secondary: #0d5c99;
$success: #3e8d63;
$info: #7854e4;
$warning: #ffc107;
$danger: #d62518;
$light: #f8f9fa;
$dark: #2e2f30;

//custom color to be mapped
$background : #1d1e1f;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
// add any additional color below
  background: $background,
// now bg-accent,btn-accent,etc.. can be called
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";