// change the theme
$primary: #c02739db;
$secondary: #2c274f;
$success: #3e8d63;
$info: #7854e4;
$warning: #827397;
$danger: #d62518;
$light: #f8f9fa;
$dark: #373758;

//#C02739

//custom color to be mapped
$background : #1d1e1f;


$body-bg: #0e0e0e;
$body-color: #fff;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
// add any additional color below
  background: $background,
// now bg-accent,btn-accent,etc.. can be called
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";